:root {
    --primary-color: maroon;
    --highlight-color: white;
    --font-cinzel: 'Cinzel Decorative', serif;
    --font-allura: 'Allura', cursive;
    --font-greatvibes:'Great Vibes', cursive;
    --font-alexbrush:'Alex Brush', cursive;
    --font-garamond:'Cormorant Garamond', serif;
    --card-width: 290px;
    --card-height: 440px;
}
body {
    font-family: var(--font-family-main);
    font-weight: 300;
    background-color: var(--color-crema);
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    min-height: 100vh;
    transition: background-size 0.5s ease-in-out;
}
/* Clase para la vista inicial */
.bg-cover {
    background-image: url(/images/11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Clase para la vista de la invitación */
.bg-contain {
    background-image: url(/images/11.png);
    background-size: contain;
    background-position: center;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; /* Esto asegura que cubra toda la altura del viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: opacity 1s ease, transform 1s ease;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
#initials {
    animation: heartbeat 1.5s infinite;
    font-family: var(--font-cinzel);
    font-size: 200px;
    font-weight: 800;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    position: relative;
    color: indianred;
    transition: transform 1s ease;
}
#hover-text {
    color: white;
    position: absolute;
    bottom: 250px;  /* Ajusta esta propiedad para cambiar la distancia vertical desde #initials */
    transform: translateX(-50%);
    font-size: 20px;
    font-family: var(--font-family-title);
    font-weight: bold;
    opacity: 1;  /* Siempre visible */
    white-space: nowrap;
    pointer-events: none;  /* Evita que el texto interfiera con el clic */
    padding: 10px 20px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.hidden {
    display: none;
}

.fade-out {
    opacity: 0;
    transform: scale(0.9);
}

#invitation {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 1s ease, transform 1s ease;
}

#invitation.show {
    opacity: 1;
    transform: scale(1);
}
@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.contenedor-play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    text-align: center;
}
.contenedor-play h1 {
    font-family: var(--font-garamond);
    color: maroon;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.icono-contenedor {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--highlight-color);
    color: indianred;
}
.icono-contenedor i {
    font-size: 22px;
}
.contenedor-central {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 0;
}
.contenedor-central h1 {
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: var(--font-garamond);
    color: maroon;
    font-weight: bold;
}
.contenedor-central h2 {
    font-family: var(--font-cinzel);
    font-size: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    animation: shine 1.5s infinite linear;
    color: indianred;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.contenedor-central h4{
    font-family: var(--font-cinzel);
    font-size: 80px;
    color: indianred;
    font-weight: 500;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
@keyframes shine {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}
.contenedor-central p {
    font-family: var(--font-cinzel);
    font-weight: 500;
    color: maroon;
    font-size: 50px;
    margin-top: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 20px;
    margin-top: -10px;
    margin-bottom:60px;
}
.unidad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-color);
    margin: 0 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 100px;
}
.numero {
    font-size: 2.5em;
    margin-bottom: 5px;
    color: indianred;
    animation: shine 1.5s infinite linear;
    font-family: var(--font-cinzel);
    font-weight: 500;
}
.etiqueta {
    font-size: 1em;
    text-transform: none;
    font-weight: 400;
    color: indianred;
    animation: shine 1.5s infinite linear;
    font-family: var(--font-cinzel);
    font-weight: 600;
}
.contenedor-central h3 {
    font-family: var(--font-garamond);
    color: maroon;
    font-size: 40px;
    margin: 40px;
    font-weight: 300;
    font-style: none;
    margin-top: -40px;
}
.galeria {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
}
.galeria img {
    width: 290px;
    height: auto;
    border-radius: 10px;
    border: 10px solid var(--highlight-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.imagen-galeria:hover {
    filter: brightness(70%);
    cursor: pointer;
}
.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    justify-items: center;
}
.card {
    border: 10px solid var(--highlight-color);
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fef7f3;
    width: var(--card-width);
    height: var(--card-height);
}

.icon {
    width: 40%;
    height: auto;
}
.card h1 {
    font-family: var(--font-cinzel);
    color: var(--primary-color);
    font-size: 35px;
    text-shadow: none;
}
.card h2 {
    font-family: var(--font-garamond);
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 300;
    text-shadow: none;
}
.card h3 {
    font-family: var(--font-garamond);
    color: var(--primary-color);
    font-size: 18px;
    margin-top: -5px;
    font-weight: 300;
}
.card h4 {
    font-family: var(--font-garamond);
    font-weight: 300;
    color: var(--primary-color);
    font-size: 17px;
    margin-top: -35px;
    text-shadow: none;
}
.boton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    background: indianred;
    color: white;
    font-family: var(--font-cinzel);
}
.card p{
    font-family: var(--font-garamond);
    color: var(--primary-color);
    font-size: 30px;
    margin-top: 10px;
    font-weight: 300;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#card8 {
    width: 290px;
    height: 440px;
    padding: 0;
}
#card8 img {
    width: 290px;
    height: 440px;
    padding: 0;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in-element {
    opacity: 0;
    animation: fadeIn 1.2s ease-out forwards;
}
h5 {
    font-family: var(--font-garamond);
    font-size: 50px;
    margin-top: -60px;
    font-weight: 500;
    color: maroon;
    margin-bottom: 0px;
    margin-top: 0px;
}
h6{
    font-family: var(--font-cinzel);
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 5px;
    margin-top: 60px;
}
.empresa-logo {
    text-align: center;
    margin-top: 0px;
}
.empresa-logo img {
    width: 80px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}
@media (max-width: 768px) {
    body {
        margin: 0;
        padding: 0;
    }
        #initials {
            font-size: 110px; /* Reducir el tamaño de la fuente para pantallas pequeñas */
            padding: 10px;
            font-weight: 600;
        }
    
        #hover-text {
            font-size: 25px; /* Ajustar el tamaño del texto para mantener la proporción */
            padding: 8px 16px;
            bottom: 200px; /* Ajustar la posición para pantallas pequeñas */
            font-style: oblique;
        }
    .contenedor-play h1{
        font-style: oblique;
    }
    .contenedor-central h1 {
        margin-top: 10px;
        font-size: 35px;
        margin-bottom: 20px;
        font-style: oblique;
    }
    .contenedor-central h2 {
        font-size: 65px;
        font-weight: 500;
        margin-top: -20px;
    }
    .contenedor-central h4{
        font-size: 40px;
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .contenedor-central p {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .contenedor-central h5{
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 20px;
        font-style: oblique;
    }
    .unidad {
        width: 80px; /* Ajusta el tamaño según sea necesario */
        height: 80px; /* Ajusta el tamaño según sea necesario */
        margin: 5px;
    }
    .numero {
        font-size: 1.8em; /* Ajusta el tamaño según sea necesario */
    }
    .etiqueta {
        font-size: 0.8em; /* Ajusta el tamaño según sea necesario */
    }
    .contador{
        margin-bottom: -10px;
    }
    .contenedor-central h3 {
        font-size: 26px;
        margin: 5px;
        font-style: oblique;
    }
    .card img {
        width: 42%;
    }
    .galeria {
        grid-template-columns: 1fr;
    }
    .contenedor-cards {
        grid-template-columns: 1fr;
    }
    .contenedor-cards {
        grid-template-columns: 1fr;
    }
    .card h1{
        font-size: 25px;
        margin-bottom: 5px;
        font-style: normal;
    }
    .card h2{
        font-size: 20px;
        margin-top: 10px;
        font-style: oblique;
    }
    .card h3{
        font-size: 20px;
        margin-top: 5px;
        font-style: oblique;
    }
    .card h4{
        font-size: 20px;
        font-style: oblique;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .card p{
        font-family: var(--font-garamond);
        font-size: 25px;
        font-style: oblique;
        margin-bottom: 10px;
        margin-top: 30px;
    }
    h6{
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 60px;
        font-weight: 600;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .contenedor-cards {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
    }
    .galeria {
        grid-template-columns: 1fr;
    }
}

